<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FACTURA</title>
  <link rel="stylesheet" href="../../styles/style.css">
  <link rel="shortcut icon" href="../../img/letra_logo.png" type="image/x-icon">
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@3.0.0/dist/iconify-icon.min.js"></script>
</head>
<body>
  <main class="content-table content-table--alto-completo">
    <div class="factura">
        <h1 class="title-principal title-principal--centrado-disminuido title-principal--fondo-transparente">Factura de Compra</h1>
        <div class="factura__scroll-container">
            <div class="factura__detalle">
                <div class="factura__vendedor-info">
                    <h3 class="subtitle">Vendedor: Carla Fernández</h3>
                    <p class="text text--no_desborda text--turquesa-oscuro text--desbordamiento"><strong class="strong strong--resaltado-verde-menta">Correo:</strong> carla.vendedor@example.com</p>
                    <p class="text text--no_desborda text--turquesa-oscuro text--desbordamiento"><strong class="strong strong--resaltado-verde-menta">Teléfono:</strong> 3024567890</p>
                    <p class="text text--no_desborda text--turquesa-oscuro text--desbordamiento"><strong class="strong strong--resaltado-verde-menta">Ciudad:</strong> Girón</p>
                </div>
                <h3 class="subtitle">Productos Vendidos</h3>
                <div class="table-container">
                    <table class="table">
                        <thead class="table__encabezado">
                            <tr class="table__fila">
                            <th class="table__celda">Artículo</th>
                            <th class="table__celda">Precio Unitario</th>
                            <th class="table__celda">Cantidad</th>
                            <th class="table__celda">Total</th>
                            </tr>
                        </thead>
                        <tbody class="table__cuerpo">
                            <tr class="table__fila table__fila--turquesa-opaco">
                            <td class="table__celda table__celda--dato">Camiseta Roja</td>
                            <td class="table__celda table__celda--dato table__celda--precio">$ 250.000</td>
                            <td class="table__celda table__celda--dato">2</td>
                            <td class="table__celda table__celda--dato table__celda--precio">$ 500.000</td>
                            </tr>
                            <tr class="table__fila table__fila--turquesa-opaco">
                            <td class="table__celda table__celda--dato">Camiseta Roja</td>
                            <td class="table__celda table__celda--dato table__celda--precio">$ 250.000</td>
                            <td class="table__celda table__celda--dato">2</td>
                            <td class="table__celda table__celda--dato table__celda--precio">$ 500.000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="text text--no_desborda text--turquesa-oscuro text--desbordamiento"><strong class="strong strong--resaltado-verde-menta">Subtotal:</strong> $ 1.000.000</p>
            </div>
            <div class="factura__detalle">
                <div class="factura__vendedor-info">
                    <h3 class="subtitle">Vendedor: Carla Fernández</h3>
                    <p class="text text--no_desborda text--turquesa-oscuro text--desbordamiento"><strong class="strong strong--resaltado-verde-menta">Correo:</strong> carla.vendedor@example.com</p>
                    <p class="text text--no_desborda text--turquesa-oscuro text--desbordamiento"><strong class="strong strong--resaltado-verde-menta">Teléfono:</strong> 3024567890</p>
                    <p class="text text--no_desborda text--turquesa-oscuro text--desbordamiento"><strong class="strong strong--resaltado-verde-menta">Ciudad:</strong> Girón</p>
                </div>
                <h3 class="subtitle">Productos Vendidos</h3>
                <div class="table-container">
                    <table class="table">
                        <thead class="table__encabezado">
                            <tr class="table__fila">
                            <th class="table__celda">Artículo</th>
                            <th class="table__celda">Precio Unitario</th>
                            <th class="table__celda">Cantidad</th>
                            <th class="table__celda">Total</th>
                            </tr>
                        </thead>
                        <tbody class="table__cuerpo">
                            <tr class="table__fila table__fila--turquesa-opaco">
                            <td class="table__celda table__celda--dato">Camiseta Roja</td>
                            <td class="table__celda table__celda--dato table__celda--precio">$ 250.000</td>
                            <td class="table__celda table__celda--dato">2</td>
                            <td class="table__celda table__celda--dato table__celda--precio">$ 500.000</td>
                            </tr>
                            <tr class="table__fila table__fila--turquesa-opaco">
                            <td class="table__celda table__celda--dato">Camiseta Roja</td>
                            <td class="table__celda table__celda--dato table__celda--precio">$ 250.000</td>
                            <td class="table__celda table__celda--dato">2</td>
                            <td class="table__celda table__celda--dato table__celda--precio">$ 500.000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="text text--no_desborda text--turquesa-oscuro text--desbordamiento"><strong class="strong strong--resaltado-verde-menta">Subtotal:</strong> $ 1.000.000</p>
            </div>
            <div class="factura__detalle">
                <div class="factura__vendedor-info">
                    <h3 class="subtitle">Vendedor: Carla Fernández</h3>
                    <p class="text text--no_desborda text--turquesa-oscuro text--desbordamiento"><strong class="strong strong--resaltado-verde-menta">Correo:</strong> carla.vendedor@example.com</p>
                    <p class="text text--no_desborda text--turquesa-oscuro text--desbordamiento"><strong class="strong strong--resaltado-verde-menta">Teléfono:</strong> 3024567890</p>
                    <p class="text text--no_desborda text--turquesa-oscuro text--desbordamiento"><strong class="strong strong--resaltado-verde-menta">Ciudad:</strong> Girón</p>
                </div>
                <h3 class="subtitle">Productos Vendidos</h3>
                <div class="table-container">
                    <table class="table">
                        <thead class="table__encabezado">
                            <tr class="table__fila">
                            <th class="table__celda">Artículo</th>
                            <th class="table__celda">Precio Unitario</th>
                            <th class="table__celda">Cantidad</th>
                            <th class="table__celda">Total</th>
                            </tr>
                        </thead>
                        <tbody class="table__cuerpo">
                            <tr class="table__fila table__fila--turquesa-opaco">
                            <td class="table__celda table__celda--dato">Camiseta Roja</td>
                            <td class="table__celda table__celda--dato table__celda--precio">$ 250.000</td>
                            <td class="table__celda table__celda--dato">2</td>
                            <td class="table__celda table__celda--dato table__celda--precio">$ 500.000</td>
                            </tr>
                            <tr class="table__fila table__fila--turquesa-opaco">
                            <td class="table__celda table__celda--dato">Camiseta Roja</td>
                            <td class="table__celda table__celda--dato table__celda--precio">$ 250.000</td>
                            <td class="table__celda table__celda--dato">2</td>
                            <td class="table__celda table__celda--dato table__celda--precio">$ 500.000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="text text--no_desborda text--turquesa-oscuro text--desbordamiento"><strong class="strong strong--resaltado-verde-menta">Subtotal:</strong> $ 1.000.000</p>
            </div>
        </div>
        <div class="factura__pago">
            <div class="factura__pago-info">
                <h3 class="subtitle">Metodo de Pago: Contraentrega</h3>
                <p class="text text--no_desborda text--turquesa-oscuro text--desbordamiento"><strong class="strong strong--resaltado-verde-menta">Total Pagado:</strong> $ 1.000.000</p>
                <p class="text text--no_desborda text--turquesa-oscuro text--desbordamiento"><strong class="strong strong--resaltado-verde-menta">Estado Transacción:</strong> Completada</p>
            </div>
            <div class="factura__botones">
              <button class="button button--gradiente-agua-turquesa button--ancho-amplio button--verde-brillante-lima">
                <iconify-icon icon="ri:money-dollar-circle-line" class="icon icon--blanco-agrandado"></iconify-icon>
                Confirmar Compra
              </button>
              <button class="button button--gradiente-agua-turquesa button--gradiente-rojo button--ancho-amplio" id="cerrarModal">
                <iconify-icon icon="iconamoon:close-circle-1-light" class="icon icon--blanco-agrandado"></iconify-icon>
                Cancelar Compra
              </button>
            </div>
        </div>
    </div>
  </main>
  
</body>
</html>