<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>INICIO SESION</title>
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="shortcut icon" href="../images/letra_logo.png" type="image/x-icon">
</head>

<body>
  <main class="content-form">
    <section class="section-container section-container--altura">
      <img class="img img--centrado-sombra_verde_menta" src="../images/logo_completo.png" alt="logo">
      <form action="" method="POST" class="form form--altura" novalidate>
        <h1 class="title-principal title-principal--turquesa-medio">Iniciar Sesión - ReVibe</h1>
        <div class="form__content">
          <input class="input" type="email" id="email" name="email" placeholder="Email" data-placeholder-original="Email" required>
        </div>
        <div class="form__content">
          <input class="input" type="password" id="contrasena" name="contrasena" placeholder="Contraseña" data-placeholder-original="Contraseña" required>
        </div>
        <button class="button button--gradient-verde-agua_turquesa-oscuro" type="submit">Iniciar Sesión</button>
        <div class="form__content">
          <div class="form__content-extra">
            <p class="text text--tamanio_reducido">¿No tienes cuenta?</p>
            <a href="register.html" class="link link--verde_menta-subrayado">Regístrate aquí</a>
          </div>
        </div>
      </form>
    </section>
  </main>
  <script type="module" src="../js/loginUser.js"></script>
</body>

</html>